<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>keystoneApp</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.css">
		<link href="/styles/site.css" rel="stylesheet">
		<link href="/styles/navbar.css" rel="stylesheet">
		<link href="/styles/homepage.css" rel="stylesheet">
		<link href="/styles/catalog.css" rel="stylesheet">
		<link href="/styles/shopping-cart.css" rel="stylesheet">
		<link href="/styles/purchase-form.css" rel="stylesheet">
		<link href="/styles/footer.css" rel="stylesheet">
		{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}

		{{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8 --}}
		<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>
	<body>
		<div id="header">

				<div role="navigation" class="navbar navbar-default">
					<div class="container-fluid">
						<div class="navbar-header">
							<button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
							</button>
							<a href="/" class="navbar-brand">keystoneApp</a>
						</div>
						<div class="collapse navbar-collapse">
							<ul class="nav navbar-nav navbar-left">
									{{# each navLinks}}
									<li {{#ifeq ../section key}}class="active{{{ifExist submenu ' catalog-hover'}}}"{{else}} class="{{{ifExist submenu ' catalog-hover'}}}"{{/ifeq}}>
										<a href="{{ href }}" {{#ifeq key submenu}}class="root-submenu" {{else}}{{/ifeq}}>{{ label }}</a>
											{{#ifeq key submenu}}<div class="root-submenu-wrp"></div>{{else}}{{/ifeq}}
									</li>
								{{/each}}
									<li>
										<a class="shopping-cart hidden-sm hidden-md hidden-lg">Корзина</a>
									</li>
									<li>
										<form method="GET" action="/product-categories/cutomer-search/search" autocomplete="off" class="search-form">
												<span class="search-icon-wrp">
													<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 16 16">
														<title>search</title>
														<path fill="#999" d="M9.714 10.214c-0.695 0.495-1.545 0.786-2.464 0.786-2.347 0-4.25-1.903-4.25-4.25s1.903-4.25 4.25-4.25c2.347 0 4.25 1.903 4.25 4.25 0 0.918-0.291 1.769-0.786 2.464l2.792 2.792c0.275 0.275 0.273 0.715-0 0.988l-0.012 0.012c-0.272 0.272-0.715 0.273-0.988 0l-2.792-2.792zM7.25 10c1.795 0 3.25-1.455 3.25-3.25s-1.455-3.25-3.25-3.25c-1.795 0-3.25 1.455-3.25 3.25s1.455 3.25 3.25 3.25v0z"></path>
													</svg>
												</span>
												<input type="hidden" id="dataSlug" name="dataslug" val="" />
												<input type="text" id="search-input" class="search-input border-outline-0" required="required" placeholder="Поиск"/>
												<div id="category" class="category"></div>
												<button type="submit" class="btn_st border-outline-0 search-button">Найти</button>
												<div id="products-list" class="products-list"></div>
										</form>
									</li>
							</ul>
							<!--
							<ul class="nav navbar-nav navbar-right">
								{{#if user}}
								<li><a href="/keystone/signout">Sign Out</a></li>
								{{else}}
								<li><a href="/keystone/signin">Sign In</a></li>
								{{/if}}
							</ul>
						-->
						</div>
					</div>

			</div>
		</div>
		<div id="body" class="clearfix">
			<!--
				Flash messages allow you to display once-off status messages to users, e.g. form
				validation errors, success messages, etc
			-->
			{{#if messages}}
			<div id="flash-messages" class="container">
				{{#if messages.info}}
				<div class="alert alert-info">
						{{{flashMessages messages.info}}}
				</div>
				{{/if}}
				{{#if messages.success}}
				<div class="alert alert-success">
						{{{flashMessages messages.success}}}
				</div>
				{{/if}}
				{{#if messages.warning}}
				<div class="alert alert-warning">
						{{{flashMessages messages.warning}}}
				</div>
				{{/if}}
				{{#if messages.error}}
				<div class="alert alert-danger">
						{{{flashMessages messages.error}}}
				</div>
				{{/if}}
			</div>
			{{/if}}
			<!-- The content block should contain the body of your template's content-->
			{{{body}}}
			{{>footer}}
		</div>

		{{!--
			//- jQuery 1.11.3 is included by default, and required by both Bootstrap
			//- and the KeystoneJS Content Editor. If you are not targeting IE8,
			//- you can upgrade to 2.1.4 (also bundled) for better performance.
		--}}
		<script src="/js/jquery/jquery-1.11.3.min.js"></script>
		{{!--
			//- Customise which Bootstrap javascript files are served by including
			//- them specifically here, instead of bootstrap-3.3.5.min.js
		--}}
		<script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script>
		<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
		{{{isAdminEditorJS user}}}
		<script type="text/javascript" src="/js/handlebars/handlebars.js"></script>
		<script type="text/javascript" src="/js/handlebars/helpers.js"></script>
		<script type="text/javascript" src="/js/front/localStorage.controller.browserify.js"></script>
	</body>
</html>
